@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vacations</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


    <link rel="stylesheet" type="text/css" href="~/Scripts/base.css">
    <link rel="stylesheet" type="text/css" href="~/Scripts/index-main.css">



    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
    <main class="container-fluid main-div">

        <div class="row header-part">

            <div class="col align-self-start">
            </div>
            <div class="col align-self-center">
                <h2 class="text-center text-secondary">
                    Welcome to Viena Vacations<h2>
            </div>
            <div class="col align-self-end">
            </div>
        </div>


        <div class="row main-part">
            <div class="col align-self-start">
            </div>
            <div class="col align-self-center">
                
                <div class="row li-item m-4 p-3">
                    
                    <a href="Main/DestinationManager"><button type="button" class="btn btn-outline-primary btn-lg btn-custom">Destination Manager</button></a>
                 
                </div>
                <div class="row li-item m-4 p-3">
                   
                    <a href="Main/TargetManager"><button type="button" class="btn btn-outline-primary btn-lg btn-custom">Target Manager</button></a>
                    
                </div>
                <div class="row li-item m-4 p-3">
                    <a href="Main/destinations"><button type="button" class="btn btn-outline-primary btn-lg btn-custom">Display all Vacations</button></a>
                    
                </div>
                <div class="row li-item m-4 p-3">
                   
                    <a href="Main/CustomSearch"><button type="button" class="btn btn-outline-primary btn-lg btn-custom "><i class="fa fa-search"></i>Custom Search</button></a>
                    
                </div>
                
            </div>
            <div class="col align-self-end">
               
                
            </div>

        </div>
        <div class="container-fluid footer-part">
            <h5 class='text-secondary text-center m-5'>powerd by Victor </h5>
        </div>

    </main>
</body>
</html>


