.main-div {
    height: 100vh;
}

.header-part {
    height: 15%;
    min-height: 150px;
    min-width: 150px;
}

.main-part {
    min-height: 280px;
    min-width: 250px;
    max-height: 700px;
    height: 60%;
}

.footer-part {
    height: 25px;
    z-index: 1;
}